.sliderLayoutContainer{
    background-color: #303030;
    padding-left: 0 ;
    padding-right: 0 ;
    position: relative;
}
.sliderArrows {
    color: white;
}
:global(.vtex-slider-layout-0-x-sliderLeftArrow){
    position: absolute;
    bottom: -40px;
    left: 350px;
}
:global(.vtex-slider-layout-0-x-sliderRightArrow){
    position: absolute;
    bottom: -40px;
    right: 350px;
}

:global(.vtex-slider-layout-0-x-paginationDotsContainer){
    position: absolute;
    bottom: -40px;
}

.slideChildrenContainer {
    margin-top: 20px;
}

:global(.vtex-slider-layout-0-x-slide) {
    background-color: #303030;
}
.paginationDot--isActive {
    background-color: #59ff00;
}

.sliderLayoutContainer {
    padding-bottom: 42px;
}
.sliderArrows {
    bottom: 0;
    color: white;
    padding: 10px;
}

.sliderArrows:hover {
    background-color: white;
}
.listContainer--tabList {
    background-color: #212121;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 50;
    top: 5rem;

}

.sliderLayoutContainer--carousel {
    max-width: 960px;
    margin-left: 50px auto;
}